/* CSS HEX 
--deep-pink: #f53a91ff;
--majorelle-blue: #7947d6ff;
--electric-indigo: #6f00ffff;
--vivid-sky-blue: #04d9faff;
--magnolia: #f3eaf3ff;
--night: #131313ff;
*/
* {
    padding: 0;
    margin: 0;
  }

body{
    background-color: #6f00ffff;
    font-family: 'Kalam', cursive;
    color: #131313ff;
    height: 100vh;
    padding-top: 1px;
}

a{
    text-decoration: none;
    color: #131313ff;
  }

a:hover{
    cursor: pointer;
  }

.logo{
    height: 80px;
    width: 90px;
    box-shadow: 2px 2px 2px 2px #7947d6ff;
}

.popup, .title, .controls{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.popup{
  font-size: 30px;
}

nav{
  background-color: #7947d6ff;
  border: 1px double #f53a91ff;
  border-radius: 4px;
  width: 100px;
  height: 30px;
}

nav:hover{
  background-color: #f53a91ff;
  border: 1px solid #7947d6ff;
  color: #7947d6ff;
  transition-duration: 0.4s;
  width: 110px;
  padding: 3px;
  
  
}

.menu-allign, .game-active{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

.linebtwn-menu{
  margin: 0 2px 0 5px;
  padding: 0 5px 2px 2px;
  border-right: 1px solid #131313ff;
}
/*
.hardmenuli {

}

.landingmenu{
  font-size: 50px;
}
#power-on{

}

#exit{

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.game-board-hard{
    margin: 0 auto;
    background-color: #04d9faff;
    border: 1px solid #f53a91ff;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    max-width: 500px;
}
*/
.game-board{
    margin: 0 auto;
    background-color: #04d9faff;
    border: 1px solid #f53a91ff;
    box-shadow: -5px -5px 15px 5px #7947d6ff, 5px 5px 15px 7px #7947d6ff;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

button{
  font-family: 'Caveat', cursive;
  background-color: #7947d6ff;
  border: 1px solid #f53a91ff;
  border-radius: 4px;
  width: 50px;
  height: 30px;
}

button:hover{
background-color: #f53a91ff;
border: 1px solid #7947d6ff;
color: #131313ff;
transition-duration: 0.4s;
width: 60px;
font-size: 20px;
}

.tile {
    border: 1px solid #f53a91ff;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.controls{
  margin: 10px;
  padding: 10px;
  display: flex;

}
