/* CSS HEX 
--deep-pink: #f53a91ff;
--majorelle-blue: #7947d6ff;
--electric-indigo: #6f00ffff;
--vivid-sky-blue: #04d9faff;
--magnolia: #f3eaf3ff;
--night: #131313ff;
*/

body{
    background-color: #6f00ffff;
    color: #131313ff;
    font-family: 'Kalam', cursive;
}
h1{
    
}
a{
    text-decoration: none;
  }
a:hover{
    cursor: pointer;
  }
.logo{
    height: 60px;
    width: 70px;
}
.playground{
    height: 250px;
    width: 250px;
    background-color: #04d9faff;
    border: 2px solid #f53a91ff;
}
.button{
    font-family: 'Kalam', cursive;
    background-color: #7947d6ff;
    border: 2px solid #f53a91ff;
    width: 80px;
    height: 30px;
}
.start{
    width: 10px;
    height: 10px;
}